<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96350675721-to4ss33ppvecbd7e64bdablchg90g4sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96350675721-to4ss33ppvecbd7e64bdablchg90g4sn</string>
	<key>API_KEY</key>
	<string>AIzaSyAI6y0ujVpn8XuNrUZRr9rBtO7Ova3IHdA</string>
	<key>GCM_SENDER_ID</key>
	<string>96350675721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.peterfriese.MakeItSo.dev</string>
	<key>PROJECT_ID</key>
	<string>notes-app-9ab55</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-9ab55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96350675721:ios:04573b7bc5459ed05169d8</string>
</dict>
</plist>